.loadingRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loadingCell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  margin: 36px 0px;
}
