.main {
  display: flex;
  flex-direction: column;
  margin: 80px;

  .header {
    font-size: 34px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1.36px;
  }

  .headerContainer {
    margin-bottom: 80px;
  }
}
