.container {
  max-width: 920px;
}

.searchContainer {
  margin-bottom: 32px;
}

.tableContainer {
  min-height: 604px;
}

.loaderContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 552px;
}
