.container {
  max-width: 920px;
}

.searchWrapper {
  margin-bottom: 32px;
}

.tableWrapper {
  min-height: 604px;
}

.loaderWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 552px;
}
