.tableContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  color: var(--content-medium);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeaderRow {
  display: flex;
}

.tableHeader {
  flex: 1;
  height: 52px;
  padding: 16px;
  text-align: left;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}

.tableBody {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border-light);
  border-bottom: 1px solid var(--border-light);

  .tableRow {
    display: flex;
    width: 100%;
    border-top: 1px solid var(--border-lightest);

    &:first-child {
      border-top: none;
    }

    .tableCell {
      flex: 1;
      height: 136px;
      padding: 16px;
      vertical-align: top;
      text-align: left;
    }
  }
}
